@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Meow+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Meow+Script&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Meow+Script&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#root {
  max-width: 1320px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  --font-meow-script: "Meow Script", cursive;
  --font-caveat: "Caveat";
  --font-arvo: "Arvo";
}

#root::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  z-index: -1;
}

body {
  background-image: url("../src/assets/imagenes/nathan.jpg");
  background-position: left;
  font-family: var(--font-meow-script);
  font-family: var(--font-playwrite);
  font-family: var(--font-arvo);
}

/* estilos header e introduccion*/
.title-h1 {
  color: #443b32;
  font-size: 3.5rem;
  font-family: var(--font-meow-script);
}

.btn-action {
  background-color: #c6c7c2;
  border: 1px solid #1a1b15;
  margin-top: 20px;
  margin-inline-start: 35px;
  color: #554c3d;
  font-family: var(--font-arvo);
}

.header {
  width: 1320px;
  display: flex;
  gap: 30px;
}

.slide-text {
  font-family: var(--font-caveat);
  font-size: 25px;
  font-weight: bold;
  position: relative;
  animation: slide-left 1s ease-in-out;
  margin-inline-start: -330px;
}

@keyframes slide-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.introduction {
  width: 600px;
  margin-inline-start: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #1a1b15;
}

.menu_container {
  min-height: 560px;
  margin-top: 80px;
}

/* estilos crear*/
.img-create {
  margin-inline-start: 30px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.back-btn {
  font-family: var(--font-arvo);
  height: 75px;
  border: 1px solid #c6c7c2;
  border-radius: 50%;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c6c7c2;
  color: #554c3d;
  cursor: pointer;
  transition: border-color 0.25s;
}

.container-crear {
  min-height: 585px;
  margin-inline-start: 100px;
  margin-top: 45px;
}

.title-creacion {
  display: flex;
}

.container-create {
  margin-inline-start: -380px;
}

.btn-action:hover {
  border: 1px solid #c6c7c2;
}

.title-id {
  color: #1a1b15;
  font-weight: bold;
  font-family: var(--font-arvo);
}

.input-light {
  background-color: transparent;
  border: 1px solid #1a1b15;
  color: #c9cac4;
  border-radius: 1%;
  font-family: var(--font-arvo);
}

.btn-action-registro {
  background-color: #c6c7c2;
  border: 1px solid #1a1b15;
  margin-top: 20px;
  margin-inline-start: -325px;
  color: #554c3d;
  font-family: var(--font-arvo);
}

.volver {
  text-align: end;
  margin-inline-end: 75px;
}

.creacion {
  display: flex;
  margin-top: 50px;
}

/*estilos listado*/
.title-list {
  color: #1a1b15;
  font-family: var(--font-arvo);
}

.title-list-principal {
  color: #1a1b15;
  margin-inline-start: -60px;
  font-family: var(--font-arvo);
}

.list-product {
  margin-inline-end: 70px;
  background-color: #c6c7c2;
  border-radius: 2%;
  border: 1px solid #1a1b15;
}

.product-card {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  margin-bottom: 30px;
  padding: 5px;
  font-size: 20px;
  margin-inline-start: 50px;
  margin-top: 30px;
}

.btn-action-list {
  background-color: #c6c7c2;
  margin-top: -10px;
  margin-inline-start: 35px;
  color: #554c3d;
}

.btn-action-list:hover {
  border: 1px solid #1a1b15;
}

.back {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 70px;
  margin-inline-end: 87px;
}

/*estilos detalles*/
.back-btn-contact {
  height: 75px;
  border: 1px solid #c6c7c2;
  border-radius: 50%;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c6c7c2;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-inline-start: 1080px;
  color: #554c3d;
  font-family: var(--font-arvo);
}

.title {
  color: #1a1b15;
  font-weight: bold;
  font-family: var(--font-arvo);
}

.btn-action-detail {
  margin-top: 20px;
  margin-inline-end: 20px;
  background-color: #c6c7c2;
  border: 1px solid #1a1b15;
  font-family: var(--font-arvo);
  margin-inline-start: 35px;
  color: #554c3d;
}

.btn-action-detail:hover {
  border: 1px solid #c6c7c2;
}

.detail-container {
  width: 500px;
  margin-inline-start: 155px;
  line-height: 40px;
  margin-bottom: 30px;
}

input {
  background-color: transparent;
  border: 1px solid #1a1b15;
  color: #1a1b15;
  border-radius: 1%;
  font-family: var(--font-arvo);
}

.buttons {
  margin-inline-start: -350px;
}

/*estilos donde estamos*/
.container-contact {
  min-height: 700px;
}

.locate {
  margin-top: 30px;
  line-height: 40px;
  color: #1a1b15;
  margin-inline-start: 50px;
}

.title-contact {
  color: #1a1b15;
  text-align: start;
  font-family: var(--font-arvo);
}

.title-contact-2 {
  color: #1a1b15;
  font-weight: bold;
  text-align: start;
  font-family: var(--font-arvo);
}

.locate-contact {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
  text-align: start;
  font-family: var(--font-arvo);
}

.img-contact {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  margin-inline-end: 150px;
}

.horario {
  margin-top: 2px;
  margin-inline-start: 141px;
  color: #1a1b15;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/*estilos footer*/
.footer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.title-footer {
  margin-top: 36px;
  color: #1d1610;
  font-weight: bold;
  font-family: var(--font-arvo);
}
